@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-all: "Atkinson Hyperlegible", sans-serif;
  --color-primary: #e8e8f9;
  --color-secundary: #524be0;
  --color-terciary: #E8E8F9;
}

html,
body {
  font-family: var(--font-all);
}
